html, body {
    margin: 0;
    padding: 0;
    background-color: #100F0F;
    color: #E8F9FD;
}

.link {
    color: #E8F9FD;
    text-decoration: none;
}

nav.navbar > .link{
    padding: 0 5rem;
}

nav.navbar > .link:hover{
    color: #A5C9CA;
}

div.clock, .navbar, div.date, footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.arrows, div.timer, div.values, div.buttons, div.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.arrows > .hour, .minute, .second {
    margin: 0 7.3rem;
}

div.list{
    background-color: inherit;
}

div.arrows > .hour > .down:hover, .minute > .down:hover, .second > .down:hover {
    color: red
}

div.button {
    margin: 0 2rem;
}

div.arrows > .hour > .up:hover, .minute > .up:hover, .second > .up:hover {
    color: green
}

div.timer {
    margin-top: 5rem;
}

div.buttons {
    margin: 3rem 0;
}

.navbar {
    font-weight: bolder;
    font-size: 1.5rem;
}

div.clock, div.values {
    font-size: 15rem;
}

div.date {
    font-size: 5rem;
}

footer {
    margin-top: 2rem;
    font-size: 1rem;
}

footer > div > a {
    text-decoration: none;
    color: inherit;
}

footer > div > a:hover {
    color: #A5C9CA;
}