html, body {
    margin: 0;
    padding: 0;
    background-color: #100F0F;
    color: #E8F9FD;
}

.link {
    color: #E8F9FD;
    text-decoration: none;
}

nav.navbar > .link{
    padding: 0 5rem;
}

nav.navbar > .link:hover{
    color: #A5C9CA;
}

div.clock, .navbar, div.date {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    font-weight: bolder;
    font-size: 1.5rem;
}

div.clock {
    font-size: 15rem;
}

div.date {
    font-size: 5rem;
}